.comments {
    width: 100%;
    position: relative;

    & > .container {
        display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
        width: 100%;
        position: relative;
        margin: 2.5em auto 0;
        padding: 2.5rem 4rem;
        background: #FBFBFB;

        @include breakpoint(small, down) {
            width: 100%;
            padding: 1rem 0 2rem;
            padding-left: calc((100% / 12) * 0.75);
            padding-right: calc((100% / 12) * 0.75);
        }

    } // & > .container

}

.comments__list,
.comment-list {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    width: 100%;
} // .comments__list

.comment {
    width: 100%;
    list-style: none;

    & > .children {
        padding: 0;

        & > .comment {
            padding: 2rem 0 2rem 5rem;
        } // & > .comment

    } // & > .children

} // .comment

.comment__body {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    width: 100%;
} // .comment__body

.comment__author {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    margin: 0 1rem 0 0;
} // .comment__author

.comment__author-avatar {
    align-self: center;
    width: 50px;
    height: 50px;
    margin-right: 1rem;

    .avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $color-a;
        display: block;
    } // .avatar

} // .comment__author-avatar

.comment__author-details {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    align-self: center;
} // .comment__author-datails

.comment__author-name {
    width: 100%;
    font: 400 1.2rem/1.5 $font-primary;

    a {
        color: $font_body;
    } // a

} // .comment__author-name

.comment__meta {
    width: 100%;
    font: 400 0.7rem/1.25 $font-secondary;

    a {
        color: $font_body;
    } // a

} // .comment__meta


.comment__bottom {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    width: 100%;
    padding: 1rem 0 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 0 0 2rem;
} // .comment__bottom

.comment__interactions {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    position: relative;
    width: 100%;
    margin-top: 1.5rem;

    .reply,
    .like,
    .likes {
        font: 600 0.625rem/1 $font-primary;
        color: black;
        text-transform: uppercase;

        a {
            font: 600 0.625rem/1 $font-primary;
            color: black;
            text-transform: uppercase;
        } // a

    } // .reply,

    .reply {
        display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
        align-self: center;
        margin: 0;
        margin-right: 2rem;

        svg {
            align-self: center;
            width: 22px;
            height: auto;
            margin-right: 0.25rem;
        } // svg

        a {
            align-self: center;
        } // a
    } // .reply

    .like {
        display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: all 0.25s ease;
        display: none;

        &.is-active {
            display: flex;
        } // &.is-active

        .count {
            align-self: center;
            font: 600 0.625rem/1 $font-primary;
            text-transform: uppercase;
            align-self: center;
            margin-left: 0.25rem;
            color: black;
        }


        svg {
            align-self: center;
            width: 22px;
            height: auto;
            margin-right: 0.25rem;
        } // svg

    } // .likes

    .likes {
        display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
        position: absolute;
        right: 0;
        top: 0;

        .count {
            align-self: center;
            font: 600 0.625rem/1 $font-primary;
            margin-right: 0.65rem;
            color: black;
        }

        svg {
            align-self: center;
            width: 22px;
            height: auto;
            margin-right: 0.25rem;
        } // svg

    } // .likes

} // .comment__interactions

.comment-respond {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    width: 100%;
} // .comment-respond

.comments__form {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    width: 100%;

    .input-name {
flex: 0 0 50%;
max-width: 50%;
padding-right: 0;
padding-left: 0;
        padding-right: 0.25rem;
    } // .input-name

    .input-email {
        flex: 0 0 50%;
max-width: 50%;
padding-right: 0;
padding-left: 0;
        padding-left: 0.25rem;
    } // .input-email

    .form-submit {
        margin-top: 0.5rem;
    } // .form-submit

} // .comments__form