.notification {
	@include flex-grid-row(null,$grid-row-width,12);
	width: 100%;
	max-width: 100%;
	position: relative;
	transition: opacity 0.25s ease;
	z-index: 101;
	background: $color-e;
	padding: 0.5rem 0;

	&.is-top {
	    transition: all 0.25s ease;
	    transform: translateY(0);
	    max-height: 200px;

	    &.is-hidden {
		    transform: translateY(-100px);
	    } // &.is-hidden

	    &.is-dismissed {
	    	max-height: 0;
	    	transform: translateY(-100px);
	    	padding: 0;
	    } // &.is-dismissed

	    .notification__button {

	    	@include breakpoint(small down) {
	    		@include flex-grid-column(5,0);
	    		padding-right: 1.75rem;
	    		text-align: center;
	    	}

	        a {
	            @extend .button;

	            @include breakpoint(small down) {
			    	padding: 0.5rem 0.75rem;
			    	font-size: 0.55rem;
			    	letter-spacing: 0.033rem;
			    	margin: 0 auto;
	            }

	        } // a

	    } // .notification__button

	    .notification__title {

	        @include breakpoint(small down) {
	        	@include flex-grid-column(7,0);

	        	span {
		        	font: 600 0.75rem/1.5 $font-secondary;
		        	padding-right: 0.33rem;
		        	padding-left: 0.33rem;
	        	} // span

	        }

	        .notification__title-icon {

	            @include breakpoint(medium down) {
	            	display: inline-block;
	            }

	            img {
	                width: 25px;
	            } // img

	        } // .notification__title-icon

	    } // .notification__title


	} // &.is-top

	&.is-bottom {
	    position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    transition: all 0.25s ease;
	    transform: translateY(0);
	    max-height: 200px;

	    &.is-hidden {
	        transform: translateY(100px);
	    } // &.is-hidden

	    &.is-dismissed {
	    	max-height: 0;
	    	transform: translateY(100px);
	    	padding: 0;
	    } // &.is-dismissed

		.notification__title {
			@include flex-grid-row(null,$grid-row-width,12);
			@include flex-grid-column(12,0);
			@include flex-align-self(middle);
			width: auto;
			flex: none;
			text-align: right;
			margin: 0;

			@include breakpoint(medium down) {
			}

			@include breakpoint(small down) {
				@include flex-grid-column(12,0);
				padding-right: 1rem;
				text-align: center;
				margin-bottom: 0.5rem;
			}

	    	span {

		    	@include breakpoint(small down) {
		    		padding: 0;
		    		font: 400 0.9rem/1.33 $font-secondary;
		    	}

	    	} // span

		} // .notification__title

		.notification__title-icon {
			@include flex-align-self(middle);
			width: auto;

		    img {
		    	position: relative;
			    width: auto;
			    height: 20px;
			    display: block;
		    } // img

		} // .notification__title-icon

	    .notification__button {
	    	@include flex-grid-column(3,0);

	        a {
	            @extend .button;
	        } // a

	    } // .notification__button

	} // &.is-bottom

	&.is-hidden {
	    opacity: 0;
	    padding: 0 0;
	    max-height: 0;
	} // &.is-hidden

	& > .container {
	    @include flex-grid-row(null,$grid-row-width,12);
	    justify-content: center;
	    width: 100%;
	    max-width: 100%;
	    padding: 0 3rem;
	    position: relative;

	    @include breakpoint(medium down) {
	    	box-sizing: border-box;
	    	padding: 0 2rem;
	    }

	    @include breakpoint(small down) {
	    }

	} // & > .container

	.notification__title {
		@include flex-grid-row(null,$grid-row-width,12);
		@include flex-grid-column(12,0);
		@include flex-align-self(middle);
		// display: inline-block;
		width: auto;
		flex: none;
		text-align: right;
		padding-right: 2rem;
		font: 600 1.2rem/2 $font-secondary;
		margin: 0;

		span {
			display: inline-block;
			font: 400 0.9rem/1 $font-primary;
		    @include flex-align-self(middle);
		    padding-right: 1rem;
		} // span
	} // .notification__title

	.notification__title-icon {
		@include flex-align-self(middle);
		width: auto;

		@include breakpoint(medium down) {
			display: none;
		}

	    img {
	    	position: relative;
		    width: 37px;
		    height: auto;
		    display: block;
	    } // img

	} // .notification__title-icon

	.notification__button {
		display: inline-block;
		width: auto;
		flex: none;
		@include flex-align-self(middle);

		@include breakpoint(small down) {
			@include flex-grid-column(6,0);
			box-sizing: border-box;
			padding-left: 1rem;
		}

		a {
		    @extend .button;
		    @extend .button--tiny;
		    border-radius: 6px;
		    letter-spacing: 0.085rem;

		    @include breakpoint(small down) {
		    	font-size: 0.6rem;
		    	padding: 0.85rem 0.75rem;
		    }

		    &:hover {

		    }
		} // a

	} // .notification__button

	.notification__close {
		@include flex;
		position: absolute;
		right: 1rem;
		top: 50%;
		width: 40px;
		// background: rgba(0,0,0,0.1);
		font-size: 1.5rem;
		cursor: pointer;
		z-index: 9999;
		transform: translateY(-50%);

		@include breakpoint(medium down) {
			right: 0.5rem;
		}

		@include breakpoint(small down) {
			right: 0rem;
		}

		&:hover {
			cursor: pointer;
		}

		svg {
			position: relative;
			@include flex-align-self(middle);
			margin: 0 auto;
			width: 25px;
			height: 25px;
			cursor: pointer;
			transform: scale(1);
			transition: all 0.25s ease;
			z-index: 9999;

			&:hover {
				transform: scale(0.975);
			}

		}

	} // .notification__close

}