.post__meta {
    display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    width: 100%;
    padding: 1rem 0;
    margin: 0;

    .post__author,
    .post__category {
        margin-right: 0.5rem;
    } // .post__author

    .post__date {
    } // .post__author

} // .post__meta