.post__share {
	display: flex;
flex-flow: row wrap;
flex: 0 0 100%;
max-width: 100%;
padding-right: 0;
padding-left: 0;
    margin: 0;
    padding-top: 0.33rem;
	align-item: flex-start;
	height: auto;
    width: 100%;

    @include breakpoint(small, down) {
        width: 100%;
    }

    & > .post__share-link {
    	width: 100%;
    	margin-bottom: 0.75rem;

        &:last-of-type {
            @include breakpoint(small, down) {
                margin-right: 0;
            }
        }

        @include breakpoint(small, down) {
            flex: none;
            margin-right: 1rem;
        }

    } // & > a

    svg {
    	width: 30px;
    	height: auto;
    } // svg

    img {

    } // img

} // .post__share