.post__meta {
    @include flex-grid-row(null,$grid-row-width,12);
    width: 100%;
    padding: 1rem 0;
    margin: 0;

    .post__author,
    .post__category {
        margin-right: 0.5rem;
    } // .post__author

    .post__date {
    } // .post__author

} // .post__meta