.page--404 {

    .content-area {
        width: 100%;
        position: relative;
        padding: 10rem 0;

        & > .container {
            @extend .container;
            
        } // & > .contaienr

    }
    // .page-content

    .title {
        width: 100%;
        align-self: center;
        color: $color-a;
        text-align: center;
        margin: 0;
    }
    // .title

    p {
        width: 100%;
        text-align: center;
    }

}
// .page-404