.page--404 {

    .content-area {
        width: 100%;
        position: relative;
        padding: 10rem 0;

        & > .container {
            @extend .container;
            @extend .is-flex;
        } // & > .contaienr

    }
    // .page-content

    .title {
        @include flex-grid-column(12,0);
        @include flex-align-self(middle);
        color: $color-a;
        text-align: center;
        margin: 0;
    }
    // .title

    p {
        @include flex-grid-column(12,0);
        text-align: center;
    }

}
// .page-404