.single.single--post {

	.page-wrap {

	    & > .container {
	    } // & > .container

	} // .page-wrap

	.content-area {
	    @include flex-grid-row(null,$grid-row-width,12);
	    width: 100%;
	    padding: 5rem 0 0;

		&.has-sidebar {
			@include flex-grid-column(8.5,0);
			margin: 0;

		    .post {
		        @include flex-grid-column(12,0);
		        margin: 0;
		    } // .post__article

		} // &.has-sidebar

	} // .content-area

	.sidebar {
	    // sidebar.scss
	    padding-top: 5rem;
	} // .sidebar

	.page-header {

		.page-header__overlay {
			opacity: 0.75;
		}

		.page-header__content {
		}

		.page-header__title {
		}

		.page-header__subtitle {
		}

	}
	//END .page-header

	.post {
		@include flex-grid-row(null,$grid-row-width,12);
		@include flex-grid-column(12,0);
		margin: 0 auto;
		align-items: flex-start;

		@include breakpoint(small down) {
			@include flex-grid-column(12,0);
		}

	} // .post

	.post__body {
	    @include flex-grid-column(11,0);
	    padding-right: 4rem;

	    @include breakpoint(small down) {
	    	@include flex-grid-column(12,0);
	    	order: 0;
	    }

	} // .post__article

	.post__share {
		// assets/scss/components/_post-share.scss
		@include flex-grid-column(1,0);

		@include breakpoint(small down) {
			order: 1;
			@include flex-grid-column(10.5,0);
			margin: 1rem auto 0;
		}

	} // .post__share

	.post__image {
	    @include flex-grid-column(12,0);

	    img {
	    	display: block;
	        width: 100%;
	        height: auto;
	        margin: 0 auto;
	    } // img

	} // .post__image

	.post__meta {
		// /components/post-meta.scss
	} // .post__meta

	.post__title {
	    @include flex-grid-column(12,0);
	    margin: 1rem 0 1rem;

	    @include breakpoint(small down) {
	    	@include flex-grid-column(10.5,0);
	    	margin: 1rem auto 1rem;
	    }

	} // .post__title

	.post__content {
	    @include flex-grid-column(12,0);

	    @include breakpoint(small down) {
	    	@include flex-grid-column(10.5,0);
	    	margin: 0 auto;
	    }

	} // .post__content

}